.galamart20-content{
	max-width: 818px;
	margin: 0 auto 70px;
	padding: 0 10px;
	&__title{
		font-weight: 700;
		font-size: 30px;
		line-height: 39px;
		text-align: center;
		color: #222222;
		margin-bottom: 23px;
		span{
			color: #E85222;
			text-transform: uppercase;
			border-bottom: 1px dashed #E85222;
		}
	}
	p{
		font-weight: 400;
		font-size: 22px;
		line-height: 31px;
		text-align: center;
		color: #222222;
		margin: 0 0 19px;
	}
	&__btn{
		border: 0;
		font-weight: 400;
		font-size: 20px;
		line-height: 31px;
		text-align: center;
		color: #FFFFFF;
		display: block;
		width: fit-content;
		margin: 0 auto;
		background: #A559F8;
		border-radius: 10px;
		padding: 13px 50px 14px;
		text-decoration: none!important;
		&:hover{
			color: #ffffff!important;
			opacity: .8;
		}
	}
	@include r(767){
		&__title{
			font-size: 21px;
			line-height: 27px;
		}
		p{
			font-size: 20px;
			line-height: 28px;
		}
		&__btn{
			font-size: 18px;
			line-height: 31px;
		}
	}
}